@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.shadowNavCon{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151), -1px -1px 1px rgba(0, 0, 0, 0.151);
}
.shadowSearch{
    background-color: rgba(211, 211, 211, 0.139);
}
.categoryBackground{
    background-color: rgba(255, 200, 0, 0.685);
}
